<% if logged_in? %>
<div class="margins">
    <h2>Add Data</h2>
        <div class="background-box" style="width: 400px">
            <%= form_for @price_data do |f| %>
            <p class="alignleft"><%= f.label :location, "Location:"%></p>
            <p class="alignright"><%= f.text_field :location, required: :true %></p>
            <div style="clear: both; margin: 0pt"></div>

            <b>Price Range</b><br><br>
            <p class="alignleft"><%= f.label :adjusted_low_lot, "Low Price:" %></p>
            <p class="alignright"><%= f.text_field :adjusted_low_lot, required: :true %></p>
            <div style="clear: both; margin: 0pt"></div>

            <p class="alignleft"><%= f.label :adjusted_high_lot, "High Price:" %></p>
            <p class="alignright"><%= f.text_field :adjusted_high_lot, required: :true %></p>
            <div style="clear: both; margin: 0pt"></div>

            <%= f.submit "Add New Data" %>
            <% end %>
        </div>
</div>
<% else %>
Please Login to View
<% end %>
