<% if logged_in? %>
  <div class="margins">
    <h2>Client Estimates</h2>

      <table class="table table-dark table-sm">
        <tr>
          <th>Client Name</th>
          <th>Location 1</th>
          <th>Location 2</th>
          <th>Location 3</th>
          <th>Land Low Price</th>
          <th>Land High Price</th>
          <th>Square Footage</th>
          <th>Build Low Cost</th>
          <th>Build High Cost</th>
          <th>All-in Low Cost</th>
          <th>All-in High Cost</th>
        </tr>
        <% @outputs.each do |p| %>

          <tr>
              <td><%= link_to p.client_name, p %></td>
              <td><%= p.location1 %></td>
              <td><%= p.location2 %></td>
              <td><%= p.location3 %></td>
              <td><%= OutputsHelper.convert_format(p.total_range_min)  %></td>
              <td><%= OutputsHelper.convert_format(p.total_range_max) %></td>
              <td><%= p.sqft.round(0) %></td>
              <td><%= OutputsHelper.convert_format(p.build_estimate_min) %></td>
              <td><%= OutputsHelper.convert_format(p.build_estimate_max) %></td>
              <td><%= OutputsHelper.convert_format(p.total_cost_min) %></td>
              <td><%= OutputsHelper.convert_format(p.total_cost_max) %></td>
              <td><%= button_to 'Delete Record', p, method: :delete %></td>

          </tr>

        <% end %>     
      </table>
  </div>
<% else %>
Please Login to View
<% end %>