
<h2>Land / Build Calculator</h2>

<%= form_for @output do |f| %>
<%= f.label :client_name, "Client Name:"%>
<%= f.text_field :client_name %><br>

<%= f.label :sqft, "Square Feet:" %>
<%= f.text_field :sqft %><br>

Note: If you don't override both the high and low prices, it will still look up the lower number based on existing pricing data, so you may get wonky results e.g. higher minimum price than maximum price.
<br>

<%= f.label :location1, "Location 1:" %>
<%= f.collection_select(:location1, @price_data, :location, :location, :selected => "N/A") %>
<%= f.label :location1_min_override, "Override Low Price:" %>
<%= f.number_field :location1_min_override%>
<%= f.label :location1_max_override, "Override High Price:" %>
<%= f.number_field :location1_max_override%>

<br>
<%= f.label :location2, "Location 2:" %>
<%= f.collection_select(:location2, @price_data, :location, :location, :selected => "N/A") %>
<%= f.label :location2_min_override, "Override Low Price:" %>
<%= f.number_field :location2_min_override%>
<%= f.label :location2_max_override, "Override High Price:" %>
<%= f.number_field :location2_max_override%>

<br>
<%= f.label :location3, "Location 3:" %>
<%= f.collection_select(:location3, @price_data, :location, :location, :selected => "N/A") %>
<%= f.label :location3_min_override, "Override Low Price:" %>
<%= f.number_field :location3_min_override%>
<%= f.label :location3_max_override, "Override High Price:" %>
<%= f.number_field :location3_max_override%>
<br>
High Cost Location?
<%= f.label :hcl, "Yes" %>
<%= f.check_box :hcl %>

<br>
<%= f.submit "Generate Estimate" %>
<% end %>

<%= link_to "View old estimates", @output %>
<%= link_to "Add new pricing data", '/price_data/new' %>
<%= link_to "View pricing data", '/price_data' %>