<div id="price-estimate" style="background-color: white;
    color: black;
    width: 160px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 6pt">
    
    <div style="font-family: Roboto, sans-serif;"
    >
    <img src="https://tinyimg.io/i/Bf3gy9D.png", height=9px, width=66px, style="vertical-align:middle">
    <span style="">Calculator</span>
    </div>

    <div style="margin-bottom: 30px">
    </div>


    <div class="thick-hr" style="
    border: none;
    height: 3px;
    background-color: black;"></div>

    <p class="price-estimate-header" style="
    font-weight: bold;">Land Estimate</p>
    <% if @output.location1 != "N/A" %>
        <div class="hr" style="border: none;
        height: 1px;
        background-color: black;
        padding: 0pt;
        margin: 0pt;"></div>


        <ul class="location-list" style="
            list-style: none;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 9px;
            padding-top: 0px;
            margin-top: 5px;
            margin-bottom: 5px;">
            <li class="alignleft" style="float: left;"><%= @output.location1 %></li>
            <li class="alignright" style="float: right">
            <% if @output.location1_min < 1000000 %>
                <%= number_to_currency((@output.location1_min.round(-3)/1000), precision: 0) %>k -
            <% else %>
                <%= number_to_currency((@output.location1_min/1000000).round(2), precision: 2) %>m -
            <% end %>
            <% if @output.location1_max < 1000000 %>
                <%= number_to_currency((@output.location1_max.round(-3)/1000), precision: 0) %>k
            <% else %>
                <%= number_to_currency((@output.location1_max/1000000).round(2), precision: 2) %>m
            <% end %>
            </li>
        </ul>

        <div style="clear: both; margin: 0pt"></div>
    <% end %>

    <% if @output.location2 != "N/A" %>
        <div class="hr" style="
        border: none;
        height: 1px;
        background-color: black;
        padding: 0pt"></div>
        <ul class="location-list" style="
            list-style: none;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 9px;
            padding-top: 0px;
            margin-top: 5px;
            margin-bottom: 5px;">
            <li class="alignleft" style="float: left;"><%= @output.location2 %></li>
            <li class="alignright" style="float: right;">
            <% if @output.location2_min < 1000000 %>
                <%= number_to_currency((@output.location2_min.round(-3)/1000), precision: 0) %>k -
            <% else %>
                <%= number_to_currency((@output.location2_min/1000000).round(2), precision: 2) %>m -
            <% end %>
            <% if @output.location2_max < 1000000 %>
                <%= number_to_currency((@output.location2_max.round(-3)/1000), precision: 0) %>k
            <% else %>
                <%= number_to_currency((@output.location2_max/1000000).round(2), precision: 2) %>m
            <% end %>
            </li>
        </ul>
        <div style="clear: both; margin: 0pt"></div>
    <% end %>

        <% if @output.location3 != "N/A" %>
        <div class="hr" style="
         border: none;
         height: 1px;
         background-color: black;
         padding: 0pt"></div>
        <ul class="location-list" style="
            list-style: none;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 9px;
            padding-top: 0px;
            margin-top: 5px;
            margin-bottom: 5px;">
            <li class="alignleft" style="float: left;"><%= @output.location3 %></li>
            <li class="alignright" style="float: right;">
            <% if @output.location3_min < 1000000 %>
                <%= number_to_currency((@output.location3_min.round(-3)/1000), precision: 0) %>k -
            <% else %>
                <%= number_to_currency((@output.location3_min/1000000).round(2), precision: 2) %>m -
            <% end %>
            <% if @output.location3_max < 1000000 %>
                <%= number_to_currency((@output.location3_max.round(-3)/1000), precision: 0) %>k
            <% else %>
                <%= number_to_currency((@output.location3_max/1000000).round(2), precision: 2) %>m
            <% end %>
            </li>
        </ul>
        <div style="clear: both; margin: 0pt"></div>
    <% end %>
    <div class="totalbox"; style="background-color: rgb(73,216,112); 
    padding: 5px ;
    border-radius: 25px;
    text-align: center;
    font-size: 7pt;
    margin-top: 5px;
    margin-bottom: 20px;">
        <% if @output.total_range_min < 1000000 %>
            <%= number_to_currency((@output.total_range_min.round(-3)/1000), precision: 0) %>k -
        <% else %>
            <%= number_to_currency((@output.total_range_min/1000000).round(2), precision: 2) %>m -
        <% end %>
        <% if @output.total_range_max < 1000000 %>
            <%= number_to_currency((@output.total_range_max.round(-3)/1000), precision: 0) %>k
        <% else %>
            <%= number_to_currency((@output.total_range_max/1000000).round(2), precision: 2) %>m
        <% end %>
    </div>

    <div class="thick-hr" style="
    border: none;
    height: 3px;
    background-color: black;"></div>

    <p class="price-estimate-header" style="
    font-weight: bold;">Build Estimate</p>

    <p class="alignleft" style="float: left; padding-top: 0px; margin-top: 0px">Size of Build<p> 
    <p class="alignright" style="float: right; padding-top: 0px; margin-top: 0px"><%= number_with_delimiter(@output.sqft.round(0), :delimiter => ',') %> Square Feet</p>
    <div style="clear: both; margin: 0pt"></div>
    <div class="totalbox"; style="background-color: rgb(237,225,88);
    padding: 6px;
    border-radius: 25px;
    text-align: center;
    font-size: 7pt;
    margin-bottom: 20px;">
        <% if @output.build_estimate_min < 1000000 %>
            <%= number_to_currency((@output.build_estimate_min.round(-3)/1000), precision: 0) %>k -
        <% else %>
            <%= number_to_currency((@output.build_estimate_min/1000000).round(2), precision: 2) %>m -
        <% end %>
        <% if @output.build_estimate_max < 1000000 %>
            <%= number_to_currency((@output.build_estimate_max.round(-3)/1000), precision: 0) %>k
        <% else %>
            <%= number_to_currency((@output.build_estimate_max/1000000).round(2), precision: 2) %>m
        <% end %>
    </div>

    <div class="thick-hr" style="
    border: none;
    height: 3px;
    background-color: black;"></div>

    <p class="price-estimate-header" style="
    font-weight: bold;">All-in Cost</p>

    <div class="totalbox" style="background-color: rgb(0,0,0); 
    color: rgb(255,255,255);
    padding: 7px;
    border-radius: 25px;
    text-align: center;
    font-size: 7pt;
    margin-bottom: 20px;">
        <% if @output.total_cost_min < 1000000 %>
            <%= number_to_currency((@output.total_cost_min.round(-3)/1000), precision: 0) %>k -
        <% else %>
            <%= number_to_currency((@output.total_cost_min/1000000).round(2), precision: 2) %>m -
        <% end %>
        <% if @output.total_cost_max < 1000000 %>
            <%= number_to_currency((@output.total_cost_max.round(-3)/1000), precision: 0) %>k
        <% else %>
            <%= number_to_currency((@output.total_cost_max/1000000).round(2), precision: 2) %>m
        <% end %>
    </div>
</div>


